// Fonts
$base_font: Helvetica,Arial,san-serif;

// Colors
$black: rgb(0,0,0);
$white: rgb(255,255,255);
$dark_gray: rgb(60,60,60);
$dark_med_gray: rgb(70,70,70);
$med_gray: rgb(178,178,178);
$light_gray: rgb(235,235,235);
$yellow_green: rgb(189,216,50);
