// Fonts
$base_font: Helvetica,Arial,san-serif;

// Colors
$black: rgb(0,0,0);
$white: rgb(255,255,255);
$dark_gray: rgb(40,40,40);
$dark_med_gray: rgb(70,70,70);
$med_gray: rgb(178,178,178);
$light_gray: rgb(235,235,235);
$yellow_green: rgb(189,216,50);

$metro_red: rgb(199,32,63);
$metro_blue: rgb(73,129,196);
$metro_green: rgb(100,177,94);
$metro_orange: rgb(226,156,50);
$metro_yellow: rgb(243,214,51);
$metro_silver: rgb(169,171,169);
