@import 'bootstrap/_bootstrap';
@import '_defines';

// generic styles
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $base_font;
}
ul {
  list-style: none;
  padding: 0;
  li {
    list-style: none;
  }
}
a {
  text-decoration: none;
  color: $dark_med_gray;
  &:hover {
    color: $dark_med_gray;
    text-decoration: none;
  }
}

@-webkit-keyframes slide {
  100% {
    width: 100%;
    left: 0;
    color: $dark_gray;
  }
}

@keyframes slide {
  100% {
    left: 0;
    width: 100%;
    color: $dark_gray;
  }
}

// object/defined styles
#map {
  height: 100%;
  position: absolute;
  bottom: -500px;
}
.clickable {
  cursor: pointer;
}
.button {

}
.load-hidden {
  display: none;
  &.active {
    display: block;
  }
}

// metro colors
.metro-blue {
  color: $metro_blue;
  background-color: $metro_blue;
  &:hover {
    color: $metro_blue;
  }
}
.metro-green {
  color: $metro_green;
  background-color: $metro_green;
  &:hover {
    color: $metro_green;
  }
}
.metro-orange {
  color: $metro_orange;
  background-color: $metro_orange;
  &:hover {
    color: $metro_orange;
  }
}
.metro-red {
  color: $metro_red;
  background-color: $metro_red;
  &:hover {
    color: $metro_red;
  }
}
.metro-silver {
  color: $metro_silver;
  background-color: $metro_silver;
  &:hover {
    color: $metro_silver;
  }
}
.metro-yellow {
  color: $metro_yellow;
  background-color: $metro_yellow;
  &:hover {
    color: $metro_yellow;
  }
}

.bg-color-item {
  &[data-line-color="OR"] {
    background-color: $metro_orange;
  }
  &[data-line-color="BL"] {
    background-color: $metro_blue;
  }
  &[data-line-color="SV"] {
    background-color: $metro_silver;
  }
  &[data-line-color="GR"] {
    background-color: $metro_green;
  }
  &[data-line-color="RD"] {
    background-color: $metro_red;
  }
  &[data-line-color="YL"] {
    background-color: $metro_yellow;
  }
}


.main-navigation {
  position: absolute;
  background: black;
  top: 45px;
  padding: 15px;
  max-width: 200px;
  li.list-item {
    margin: 0;
    color: $white;
    border-bottom: 1px solid $white;
    padding: 20px 0 5px 0;
    .alert-icon {
      background: url("/img/alert.png");
    }
  }
}

.outer-wrapper {
  max-width: 800px;
  margin: 0 auto;
  background: $white;
}

.routeAlerts {
  position: absolute;
  max-height: 75px;
  bottom: 0px;
  width: 100%;
  overflow: scroll;
  z-index: 10;
  background: #e0e0e0;
  .alert-item {
    padding: 5px;
  }
  .alert-header {
    font-weight: bold;
    height: 30px;
    text-align: center;
    border-bottom: 1px solid $black;
  }
}

// section-specific styles
section.main-header {
  background-color: $black;
  color: $white;
  min-height: 53px;
  z-index: 100;
  a.header-item {
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 8px;
    width: 33%;
    &.main-nav-button {
      float: left;
      background-image: url("/img/hamburger.png");
      background-size: 27px;
      background-position: 17px 9px;
    }
    &.metro-logo {
      float: left;
      background-image: url("/img/metro-logo.png");
      background-position: 50%;
      background-size: 25px;
    }
    &.home-logo {
      background-image: url("/img/home.png");
      background-position: 85%;
      background-size: 28px;
    }
  }
  .home-logo {
    float: right;
  }
}

section.search {
  input.search-field {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}

section.main-body {
  margin: 10px;
}


section.main-footer {
  background-color: $black;
  color: $white;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 800px;
  z-index: 100;
  li.footer-item {
    height: 35px;
    width: 32%;
    display: inline-block;
    a {
      width: 100%;
      height: 35px;
      display: block;
      // background-size: contain;
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 5px;
      &.alerts {
        background-image: url("/img/alert.png");
      }
      &.favorites {
        background-image: url("/img/favorite.png");
      }
      &.map {
        background-image: url("/img/map.png");
      }
    }
  }
}

// view-specific styles
.lines-view {
  margin-left: -10px;
  width: 90%;
  ul.lines-list {
    li a {
      width: 0%;
      position: relative;
      height: 40px;
      display: block;
      vertical-align: middle;
      padding: 12px 0;
      padding-left: 20px;
      margin: 25px 0;
      left: -10%;
      animation: slide 2s forwards;
      animation-delay: 1s;
      font-size: 12px;
      text-transform: uppercase;
      font-style: italic;
      font-weight: 600;
      color: transparent;
      :hover {
        color: inherit;
      }
      &.metro-green {
        animation-delay: 1.2s;
      }
      &.metro-orange {
        animation-delay: 1.4s;
      }
      &.metro-red {
        animation-delay: 1.6s;
      }
      &.metro-silver {
        animation-delay: 1.8s;
      }
      &.metro-yellow {
        animation-delay: 2s;
      }
      &.alert-icon {
        background-image: url("/img/alert.png");
        background-repeat: no-repeat;
        background-position: 98%;
        background-size: 30px;
      }
    }
  }
}

.favorites-view {
  .favorites-item {
    width: 100%;
    margin: 20px auto;
    min-height: 175px;
    .details-wrapper {
      margin: 20px;
      .fav-name {
        font-size: 24px;
      }
      .fav-details {
        width: 50%;
        float: left;
        font-size: 12px;
        div {
          margin: 5px 0;
        }
        span {
          display: block;
          width: 100%;
        }
        .span-text {
          font-weight: bold;
        }
      }
      .fav-metro-train {
        width: 50%;
        float: right;
        font-size: 12px;
        .train-icon {
          background: url("/img/train-black.png");
          height: 40px;
          width: 40px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        span {
          display: block;
          width: 100%;
        }
        .span-text {
          font-weight: bold;
        }
        .fav-destination {
          .right-black-arrow {
            background: url("/img/right-black-arrow.png");
            width: 100%;
            height: 12px;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 2px 0;
          }
        }
      }
    }
    .lineColors {
      clear: both;
      position: relative;
      z-index: 1;
      .line-color-gear {
        background: url('/img/gear.png');
        display: inline-block;
        position: absolute;
        width: 26px;
        height: 35px;
        z-index: 2;
        left: -moz-calc(50% - 13px);
        left: -webkit-calc(50% - 13px);
        left: calc(50% - 13px);
        background-size: 26px;
        background-repeat: no-repeat;
        background-position: 50%;
      }
      .line-color {
        height: 35px;
        display: inline-block;
        float: left;
      }
    }
  }
}

.trains-status-view {
  .trains-list {
    .column-heading {
      font-weight: bold;
    }
    .train-item {
      clear: both;
    }
  }
}

.routes-view {
  width: 100%;
  overflow-x: scroll;
  .routes-header {
    div {
      text-align: center;
      &.current-time {
        font-size: 22px;
        font-weight: bold;
      }
    }
    .route-details {
      .to {
        display: block;
        width: 100%;
      }
    }
  }
  .time-table {
    min-height: 330px;
    width: 130%;
    background: url('/img/grid.svg');
    background-size: cover;
    background-repeat: repeat-x;
    background-position-y: 20px;
    overflow-x: hidden;
    .time-header {
      margin-left: 14%;
      position: relative;
      height: 22px;
      .current-time {
        position: absolute;
        left: 0%;
      }
      .second-increment-time {
        position: absolute;
        left: 39%;
      }
      // .third-increment-time {
      //   position: absolute;
      //   left: 49%;
      // }
      .third-increment-time {
        position: absolute;
        right: 17%;
      }
    }
    .next-trains-list {
      margin-left: 17%;
      .train-item {
        height: 30px;
        background: $black;
        margin: 30px 0;
        position: relative;
        z-index: 1;
        .inner-train {
          height: 30px;
          display: inline-block;
          float: left;
          &[data-line-color="OR"] {
            background-color: $metro_orange;
          }
          &[data-line-color="BL"] {
            background-color: $metro_blue;
          }
          &[data-line-color="SV"] {
            background-color: $metro_silver;
          }
          &[data-line-color="GR"] {
            background-color: $metro_green;
          }
          &[data-line-color="RD"] {
            background-color: $metro_red;
          }
          &[data-line-color="YL"] {
            background-color: $metro_yellow;
          }
        }
        .line-label {
          display: inline-block;
          min-width: 12%;
          height: 30px;
          position: absolute;
          z-index: 2;
          background: $black;
          color: $white;
          text-align: center;
          font-size: 11px;
          padding: 7px 10px;
          &.train-icon {
            background-image: url("/img/train.svg");
            background-repeat: no-repeat;
            background-size: 18px;
            background-position: center;
          }
          &.transfer-station {
            left: 42%;
          }
        }
        span {
          display: inline-block;
          font-size: 12px;
          &.arrival-time {
            float: left;
          }
          &.train-time {
            float: right;
          }
        }
      }
    }
  }
}

.overlay-view {
  opacity: 0;
  transition: opacity 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 1em;
  overflow:hidden;
  z-index: 1000;
  pointer-events: none;
  background: rgba(0,0,0,0.7);
  margin: 0 auto;
  padding: 25px;
  &.active {
    opacity: 1;
    pointer-events: all;
    color: $white;
    width: 95%;
    height: 95%;
    overflow-y: scroll;
    a {
      color: $white;
    }
  }
  .overlay-subview {
    max-width: 300px;
    margin: 0 auto;
  }
}
#overlay {
  // width: 100%;
  // height: 100%;
  // top: 0;
  // position: absolute;
}
