@import 'bootstrap/_bootstrap';
@import '_defines';

// generic styles
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $base_font;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: $dark_med_gray;
  &:hover {
    color: $dark_med_gray;
    text-decoration: none;
  }
}

// object styles
#map {
  height: 100%;
  position: absolute;
  bottom: -500px;
}
.clickable {
  cursor: pointer;
}
.button {

}
.load-hidden {
  display: none;
}

.overlay-view {
  opacity: 0;
  transition: opacity 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 1em;
  overflow:hidden;
  z-index: 1000;
  pointer-events: none;
  background: rgba(0,0,0,0.7);
  margin: 0 auto;
  padding: 25px;
  &.active {
    opacity: 1;
    pointer-events: all;
    color: $white;
    a {
      color: $white;
    }
  }
  .overlay-subview {
    max-width: 300px;
    margin: 0 auto;
  }
}

.outer-wrapper {
  max-width: 800px;
  margin: 0 auto;
  background: $white;
}
// section-specific styles
section.main-header {
  background-color: $black;
  color: $white;
  min-height: 45px;
  a.header-item {
    height: 30px;
    width: 30%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5px;
    &.main-nav-button {
      float: left;
      background-image: url("/img/hamburger.svg");
      background-size: 25px;
      background-position: 5px 5px;
    }
    &.metro-logo {
      float: left;
      background-image: url("/img/metro-logo.svg");
      background-position: 50%;
    }
    &.home-logo {
      background-image: url("/img/home.svg");
      background-position: 98%;
      background-size: 27px;
    }
  }
  .home-logo {
    float: right;
  }
}

section.main-body {
  margin: 10px;
}


section.main-footer {
  background-color: $black;
  color: $white;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 800px;
  li.footer-item {
    height: 40px;
    width: 32%;
    display: inline-block;
    a {
      width: 100%;
      height: 35px;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 5px;
      &.alerts {
        background-image: url("/img/alert.svg");
      }
      &.favorites {
        background-image: url("/img/favorite.svg");
      }
      &.map {
        background-image: url("/img/map.svg");
      }
    }
  }
}
